* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,serif;
    -webkit-user-select: none;
}
.clearfix {
	clear: both;
}
.pay-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	padding-top: 206px; 
}
.pay-wrapper {
	background: white;
    border-radius: 10px;
     width: 611px;
    height: 377px;
    margin: 0 auto;
    padding-top: 19px;
    overflow: hidden;
    box-shadow: 0 2px 30px -2px black;
}
.pay {
    display: none;
}
.pay__header {
	    font-size: 30px;
    font-weight: 100;
    font-family: Arial,serif;
    margin-left: 19px;
}
.pay__title {
font-size: 13px;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 19px
}
.pay__type {
	list-style: none;
	margin-top: 7px;
    margin-left: 19px;
}
.pay__type-item {
	display: inline-block;
	margin-right: 6px;
}
.pay__type-item:last-of-type {
	margin-right: 0;
}
.pay__button {
	width: 135px;
    height: 75px;
    border-radius: 5px;
    border: 1px solid #D2D2D2;
        box-shadow: 0 4px 10px 0 #D2D2D2;
    background: -webkit-linear-gradient(bottom, #E9E9E9 5%, white 100% );
   cursor: pointer; 
}
.pay__button_privat24:after {
	     content: "";
    display: block;
    width: 107px;
    background: url("img/svg/privat24.svg") no-repeat;
    height: 23px;
    margin-top: -4px;
    margin-left: 15px;
}

.pay__button_visa:after {
	    content: "";
    display: block;
    width: 113px;
    background: url("img/svg/visa.svg") no-repeat;
    height: 100px;
    margin-top: 22px;
    margin-left: 12px;
}

.pay__button_yandex:after {
	    content: "";
    display: block;
    width: 101px;
    background: url("img/svg/yandex.svg") no-repeat;
    height: 100px;
    margin-top: 15px;
    margin-left: 17px;
}
.pay__button_sms:after {
	    content: "";
    display: block;
    width: 101px;
    background: url("img/svg/sms.svg") no-repeat;
    height: 50px;
    margin-left: 29px;
}

.pay__button:hover {
    background: -webkit-linear-gradient(top, #E9E9E9 5%, white 100% );

}
.pay__button:focus {
	outline: none;
}
.pay__button_pressed {
    box-shadow: 2px 2px 8px 1px grey inset;
}
.pay__ammount {
	width: 101px;
    margin-top: 6px;
    height: 47px;
    padding: 2px 5px;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    box-shadow: 0 2px 6px 0 lightgrey inset;
    float: left;
        margin-bottom: 3px;
        margin-left: 19px;
    font-size: 100%;
}
.pay__ammount:focus {
	outline: none;
	border-color: lightskyblue; 
}
.pay__ammount-currency {
    display: inline;
    position: relative;
    top: 24px;
    left: 5px;
    font-size: 14px;
}
#pay__privat24 {
    display: block;
    height: 87px;

}
.pay__text {
	font-size: 13px;
    margin-left: 19px;
}
.pay__footer {
    height: 100px; /*mbd */
    background: #EDF6FB;
    margin-top: 18px;
    padding-top: 19px;
}
.pay__footer-btn {
    margin-left: 19px;
    width: 280px;
    height: 55px;
    background-color: #81ce32;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    position: relative;
    z-index: 10;
    transition: .5s;
}
.pay__footer-btn:focus {
    outline: none;
}
.pay__footer-btn:hover {
    background-color: #64bf08;
}
.pay__footer-text {
        font-size: 13px;
    color: grey;
    position: relative;
    top: 11px;
    left: 11px;
}
#pay__sms {
    position: relative;
    display: none;
    height: 87px;
}
#pay__sms-amount {
    width: 140px;
    border: 1px solid #d2d2d2;
    height: 43px;
    margin-left: 21px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    color: black;
    font-size: 13px;
    padding-top: 12px;
    padding-left: 9px;
}
#pay__sms-amount:after {
    content: '';
    display: block;
    border: 5px solid transparent;
    border-top-color: #d2d2d2;
    background-position: 0 12px;
    position: absolute;
    left: 113px;
    top: 18px;
}
#pay__sms-amount:before {
    content: '';
    display: block;
    position: absolute;
    height: 43px;
    border-left: 1px solid #d2d2d2;
    left: 99px;
    top: 0;
}
.pay__sms-chosen, .pay__sms-choice {
    list-style: none;
}

.pay__sms-choice {
    display: none;
    width: 150px;
    height: 77px;
    position: absolute;
    top: -22px;
    left: -5px;
    background-color: white;
    text-align: center;
    z-index: 10;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: 0 2px 16px 2px gray;
    padding-top: 3px;
    padding-bottom: 3px;
}
.pay__sms-choice li {
    padding-top: 4px;
    padding-bottom: 4px;
}
.pay__sms-choice li:hover {
    background-color: #FCFAE7;
    color: red;
    text-decoration: underline;
}
.pay__sms-choice_checked {
    background-image: url("img/sprite.png");
    background-position: 0 13px;
    width: 15px;
    height: 13px;
    position: absolute;
    display: block;
    left: 14px;
}
/* sms section */
.sms {
    display: block;
}
.sms__header {
        font-size: 29px;
    font-weight: 100;
    font-family: Arial,serif;
    margin-left: 19px;
}
.sms__title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 19px;
}
.sms__confirm {
    outline: 1px dashed #C8BFB6;
    width: 570px;
    height: 57px;
    margin: 0 auto;
    padding-top: 13px;
    margin-top: 8px;
    background-color: #FFF7EA;
}
.sms__confirm-text {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.sms__text {
    font-size: 16px;
    margin-left: 23px;
    margin-top: 14px;
    font-weight: 600;
}
.sms__confirm-number {
    font-size: 30px;
}
.sms__payment-descr {
    width: 570px;
    border-top: 1px solid lightgrey;
    margin: 0 auto;
    margin-top: 13px;
    padding-top: 12px;
}
.sms__payment-descr-text {
    color: #9C9C9C;
    font-size: 10px;
}

.sms__footer {
    height: 100px; /*mbd */
    background: #EDF6FB;
    margin-top: 18px;
    padding-top: 19px;
}
.sms__footer-btn {
    margin-left: 22px;
    width: 280px;
    height: 55px;
    background-color: #81ce32;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    transition: .5s;
}
.sms__footer-btn:focus {
    outline: none;
}
.sms__footer-btn:hover {
    background-color: #64bf08;
}
.sms__footer-text {
    font-size: 13px;
    color: #808388;
    position: relative;
    top: 17px;
    left: 19px;
    border-bottom: 1px dotted grey;
    display: inline;
    cursor: pointer;
}
.sms__footer-text:hover {
    border-bottom: none;
}
/* success section */
.success {
    display: none;
    background: white;
    border-radius: 10px;
     width: 611px;
    height: 323px;
    margin: 0 auto;
    padding-top: 19px;
    overflow: hidden;
    box-shadow: 0 2px 30px -2px black;
}
.success__ico {
    background-image: url("img/success.png");
    margin: 0 auto;
    margin-top: 20px;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
}
.success__title {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 22px;
}
.success__text {
    text-align: center;
    font-size: 14px;
    margin-top: 11px;
}
/* close button */
.close-btn {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    color: grey;
    border: 2px solid grey;
    float: right;
    margin-right: 12px;
    margin-top: -7px;
    line-height: 19px;
    cursor: pointer;
}
.close-btn__text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.close-btn:hover {
    background: grey;
    color: white;
}